@charset "utf-8";


/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
.nav-fix-pos {
	z-index: 100;
}
body.is-fixed .nav-fix-pos {
	position: fixed;
	top: 0;
	width: 260px;
	background: #dd7200;
	background: rgba(221,114,0,0.9);	/*スクロールした際にメニューの下の別のコンテンツが重なった際に少しだけ透けさせる設定。不要ならこの行だけ削除。*/
}
body.is-fixed #sub {
	padding-top: 380px;
}


/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){
	
body.is-fixed #sub {
	padding-top: 0px;
}
	
}