
a {
	text-decoration: none;
}

.insertButton{
    position: absolute;
    top:270px;
    left:1065px;
}

.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;
	border-right: 1px dashed #000;	/*右側の線の幅、線種、色*/
}

.newsButton{
    position: absolute;
    top:470px;
    left:780px;
}

div.buttonA{
    border: none;
	padding: 10px 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.mgr-100{
    margin-right : 100px;
}

#container {
    height: 600px;
}

#global-nav.m_fixed {
    left: 0;
    position: fixed;
    top: 0;
}

  /*ta2設定*/
.ta2 {
	width: 100%;
	margin-bottom: 20px;
	border-top: 3px solid rgb(0, 0, 0);
	border-bottom: 3px solid #000;
}
/* 
.list .ta2 {
	margin-bottom: 0;
} */
.ta2 td, .ta2 th {
	border-bottom: 1px solid rgb(0, 0, 0);

	/* word-break: break-all; */
}

/*テーブル１行目に入った見出し部分*/
/* .ta2 th.tamidashi {
	width: auto;
	text-align: left;	左よせ
	background: #333;	背景色
	color: #fff;		文字色
	border-right: none;
} */

/*ta2の左側ボックス*/
.ta2 th {
	width: 140px;
	text-align: center;
	border-right: 1px dashed rgb(0, 0, 0);	/*右側の線の幅、線種、色*/
}

/*ta2の右側ボックス*/
.ta2 td {
	width: auto;
	padding-top: 5px;
	text-align:left;
}
/*----*/

.btn1{
    width:100px;
    height:40px;
    line-height:40px;
	margin: auto; /*边缘 自动 居中*/
	/*position: absolute; */
}

.btn1 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#FD6E6A;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    border-radius:33px;
    -webkit-border-radius:33px;
    -moz-border-radius:33px;
    box-shadow:5px 5px 0px 0px #DEDEDE ;
    transition: all 0.3s ease;
    border: none;;
}
.btn1 a:hover{
    background:#FFFFFF;
    color:#FD6E6A;
    box-shadow:none;
}

.main{
    text-align: center;
}

